name: Continuous Deployment
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  issues: write
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Release Verre
        id: release
        uses: googleapis/release-please-action@v4
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Print release outputs for debugging
        continue-on-error: true
        run: echo ${{ toJson(steps.release.outputs) }}

      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4      
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
        if: ${{ steps.release.outputs.release_created }}

      - name: Corepack pnpm
        # OIDC publishing requires a very up to date npm version
        run: |
          npm install -g npm@latest
          corepack enable
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm install --frozen-lockfile
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm publish
        if: ${{ steps.release.outputs.release_created }}


